html[dir="ltr"] .myAppDemoWT .myCustomButton.sapMBtn {
  /* margin-right: 0.125rem; */
  margin-right: 2rem;
}

html[dir="rtl"] .myAppDemoWT .myCustomButton.sapMBtn {
  margin-left: 20rem;
}

.myAppDemoWT .myCustomText {
  display: inline-block;
  font-weight: bold;
}
